html{
    font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #dadbdb;
    color: #001520;
    /*background-image: url(./resources/octo.png);
    background-attachment: fixed;
    background-size: 4%;
    background-position: top left;
    background-repeat: repeat;*/
    transition: all 0.5s ease;
}


button{
    background-color: inherit;
    border-radius: 8px;
    border-width: 1px;
    padding: 5px;
    color: #EEEEEE;
    font-family: 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

h3{
    font-size: 30px;
}

p{
    overflow-wrap: break-word;
    font-size: 11;
}

code{
    font-size: 16px;
}

a{
    color: #000000;
}

a:visited{
    color: inherit;
}

li{
    width: fit-content;
    padding: none;
    line-height: 1.5;
}

.white{
    color: #EEEEEE;
    transition: all 0.5s ease;
}

.nounderline{
    text-decoration: none;
}

#title{
    font-size: 80px;
    margin-top: 10%;
    margin-bottom: 0px;
}

#title-repo{
    display: flex;
}

#proj-repo{
    font-size: 24px;
    align-self: flex-end;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 18px;
}

#lang-date{
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 5%;
}

#repo{
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    text-align: center;
}