html{
    font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #dadbdb;
    color: #001520;
    transition: all 0.5s ease;

}

body{
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

h3{
    font-size: 30px;
    margin-bottom: 0px;
}

p{
    overflow-wrap: break-word;
    font-size: 11;
}


a{
    color: #000000;
}

a:visited{
    color: inherit;
}

li{
    width: fit-content;
    padding: none;
    line-height: 1.5;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

#about{
    margin-right: 15vw;
}

.white{
    color: #000000;
    transition: all 0.5s ease;
}

.nounderline{
    text-decoration: none;
}

.me{
    font-family: sans-serif;
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-top: 10%;
    margin-bottom: 40px;
}

#name{
    color:#3f6085;
}

#repo{
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    text-align: center;
}

#theo{
    width: 20%;
    position: relative;
    float: right;
}

/* WOBBLE */
@keyframes wobble {
    0% {translate: 0 0; rotate: 0.3deg;}
    12% {translate: -10px 5px; rotate: -0.2deg}
    25% {translate: 12px -10px; rotate: 0deg}
    37% {translate: -3px 4px; rotate: -0.3deg}
    50% {translate: 0 0; rotate: 0.2deg}
    62% {translate: -5px -10px; rotate: -0.1deg;}
    75% {translate: 10px 8px; rotate: 0.4deg;}
    87% {translate: 0px -5px; rotate: -0.2deg;}
    100% {translate: 0 0; rotate: 0deg;}
}

.wobble{
    animation-name: wobble;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

/* AUSTRALIAN */
.australian{
    rotate: 180deg;
    transition: all 0.5s;
}