html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #002730; /*#6f9076;*/
    font-size: 10;
    color: #EEEEEE;
    background-image: url(octo.png);
    background-size: 5%;
    background-position: top left;
    background-repeat: repeat;
}

body{
    margin: 0;
}

h1{
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2{
    font-size: 24px;
}

a{
    color: #EEEEEE
}

a:visited{
    color: #EEEEEE;
}

ul{
    line-height: 1.5;
}

.centretext{  /* make text and image next to each other */
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    float: top
}

/* nav */
.navbar-icon{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
}
.navbar{
    height: 35px;
    background-color: #002028;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-left: 1%;
    padding-right: 1%;
}

.navbar-container{
    height: 120px;
    filter: opacity(0%);
    width: 95%;
    transition: all 0.5s;
}

.navbar-container:hover{
    height: 120px;
    filter: opacity(100%);
    width: 100%;
    transition: all 0.5s;
}

.navbaritem{
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    align-self: center;
    text-align: center;
}

.navbarlink{
    text-decoration: none;
}

#name{
    color:#aaffee;
}

#intro{
    float: left;
    padding: 12px;
    width: 75%;
    max-width: 60%;
}

#theo{
    float: right;
    margin-left: 10px;
    position: relative;
    top: 30px;
    width: 20%
}

#theo-img{
    float: top;
    width: 90%;
    border: 1px solid #000000;

}

#theo-caption{
    font-size: 13px;
    font-style: italic;
    clear: both;
    float: top
}

#repo{
    float: bottom;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    font-size: 12px;
    text-align: center;
    clear: both;
}