html{
    font-family: 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #001720; /*#6f9076;*/
    font-size: 10;
    color: #EEEEEE;
    background-image: url(octo.png);
    background-size: 5%;
    background-position: top left;
    background-repeat: repeat;
}

h2{
    font-size: 24px;
}

a{
    color: #EEEEEE;
}

a:visited{
    color: #EEEEEE;
}

li{
    padding: none;
    line-height: 1.5;
}

.nounderline{
    text-decoration: none;
}

.pages{
    font-size: 50px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -25vh;
}

.me{
    font-family: "Trebuchet MS";
    font-size: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-top: 10%;
    margin-bottom: 40px;
    margin-left: -90vh;
}

.faded-in-left{
    display: block;
    margin-left: 10%;
    transition: all 0.5s;
}

.me-fade{
    transition: all 1s;
}

.pages:hover{
    font-size: 50px;
    background-color: #22484F;
    transition: all 0.5s;
}

#name{
    color:#aaffee;
}

#repo{
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    text-align: center;
}