html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #001720; /*#6f9076;*/
    font-size: 10;
    color: #EEEEEE;
    background-image: url(octo.png);
    background-size: 5%;
    background-position: top left;
    background-repeat: repeat;
}

body{
    margin: 0;
}

h1{
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2{
    font-size: 24px;
}

a:visited{
    color: #EEEEEE;
}

#title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 70%;
}

.centretext{  /* make text and image next to each other */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 60%;
    float: top
}

.projectbox{
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    margin-bottom: 20px;
    backdrop-filter: blur(4px);
}

.projectbox-left{
    margin-right: 1%;
    transition: all 0.25s ease;
}

.projectbox-left:hover{
    margin-right: 1%;
    background-color: #103740;
    transition: all 0.25s ease;
}

.projectbox-right{
    margin-left: 1%;
    transition: all 0.25s ease;
}

.projectbox-right:hover{
    margin-left: 1%;
    background-color: #103740;
    transition: all 0.25s ease;
}

#projectboxgrid{
    padding: 0;
    width: 70%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap ;
}

/* nav */

.navbar-icon{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
}
.navbar{
    height: 35px;
    background-color: #002028;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-left: 1%;
    padding-right: 1%;
}

.navbar-container{
    height: 120px;
    filter: opacity(0%);
    width: 95%;
    transition: all 0.5s ease-out;
}

.navbar-container:hover{
    height: 120px;
    filter: opacity(100%);
    width: 100%;
    transition: all 0.5s ease-out;
}

.navbaritem{
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    align-self: center;
    text-align: center;
}

.navbarlink{
    text-decoration: none;
}