html{
    font-family: 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #001720; /*#6f9076;*/
    font-size: 10;
    color: #EEEEEE;
    background-image: url(octo.png);
    background-size: 5%;
    background-position: top left;
    background-repeat: repeat;
}

body{
    margin: 0;
}

h1{
    font-family: "Trebuchet MS";
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2{
    font-size: 24px;
}

a:visited{
    color: #EEEEEE;
}

#title{
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 70%;
}

.centretext{  /* make text and image next to each other */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 60%;
    float: top
}

.projectbox{
    display: inline-table;
    border-style: solid;
    border-width: 1px;
    padding: 2.5vh;
    width: 40vh;
    height: 20vh;
    border-radius: 10px;
    margin-bottom: 2vh;
    backdrop-filter: blur(4px);
}

.projectbox-left{
    margin-right: 25vh;
    opacity: 0;
}

.projectbox-left-transitioned{
    margin-right: 1vh;
    transition: all 1s ease;
    opacity: 100;
}

.projectbox-left-transitioned:hover{
    margin-right: 1vh;
    background-color: #103740;
    transition: all 0.25s ease;
}

.projectbox-right{
    margin-left: 25vh;
    opacity: 0;
}

.projectbox-right-transitioned{
    margin-left: 1vh;
    transition: all 1s ease;
    opacity: 100;
}

.projectbox-right-transitioned:hover{
    margin-left: 1vh;
    background-color: #103740;
    transition: all 0.25s ease;
}

.projectboxgrid{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap ;*/
}

.projectboxgrid-transitioned{
    margin-left: auto;
    margin-right: auto;
    width: 94vh;
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap ;*/
}